<section class="">
    <div id="frontpage-1" class="py-5" style="background: linear-gradient(135deg, #B21AD3 0%, #B21AD3 20%, #A217AF 35%, #6764A9 80%, #6764A9 100%);">
        <div class="container">
            <h1>Educação para Transformar Vidas</h1>
            <p class="w-50">Aprenda no seu ritmo com nossos cursos presenciais e a distância, pensados para quem acredita na educação como prática da liberdade</p>
            <a href="{{ config.wwwroot }}/login/index.php" class="btn btn-warning btn-lg rounded-pill w-25 my-3">
                Acessar
            </a>
            <div class="d-flex">
                <div class="mx-5">
                    <p>Realização</p>
                    <a href="">
                        <img src="{{logo.ipf}}" alt="">
                    </a>
                </div>
                <div class="mx-5">
                    <p>Parceria</p>
                    <a href="">
                        <img src="{{logo.petrobras}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="frontpage-2" class="container">
        <div class="row my-5">
            <div class="col-md-6 text-justify">
                <h1>Sobre a nossa plataforma</h1>
                <p>Acreditamos que ensinar é um ato político e que todo sujeito é capaz de aprender. Nossa
                    abordagem pedagógica valoriza a escuta, o diálogo, a prática reflexiva e a construção
                    coletiva do conhecimento.</p>
                <p>Por isso, nossos cursos são desenhados para
                    promover a autonomia dos estudantes,
                    estimular o pensamento crítico e fortalecer
                    o engajamento com a realidade.</p>
            </div>
            <div class="col-md-6">
                <img src="{{config.wwwroot}}/theme/alfa/pix/imagem_exemplo_1.png" width="400px" alt="">

            </div>
        </div>
        <div class="text-justify text-center py-5">
            <h1>Nosso jeito de aprender e ensinar</h1>
            <p>Aprender é um processo coletivo que nasce das vivências de cada pessoa e se constrói no diálogo com
                o mundo. Nossa metodologia, baseada na pedagogia crítica, promove espaços de escuta ativa, reflexão
                profunda e ação transformadora. Mais do que transmitir conteúdos, buscamos provocar consciência,
                mobilização e a construção de saberes que dialogam com a realidade.</p>
                <iframe width="640" height="360" class="rounded"
                    src="https://www.youtube.com/embed/0To9BaVsHJU?si=FsW1D_aawxYyvIN9"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
        </div>
        <div class="row my-5">
            <div class="col-md-6 text-justify">
                <h1>Formações que respeitam sua trajetória</h1>
                <p>Nossos cursos, presenciais e a distância, são pensados para dialogar com diferentes realidades e territórios.</p>
                <p>Valorizamos a pluralidade de saberes e experiências, oferecendo percursos formativos que convidam à reflexão crítica, à ação concreta e ao compromisso com a transformação social.</p>
            </div>
            <div class="col-md-6">
                <img src="{{config.wwwroot}}/theme/alfa/pix/imagem_exemplo_2.png" width="400px" alt="">

            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <img src="{{config.wwwroot}}/theme/alfa/pix/imagem_exemplo_3.png" width="400px" alt="">

            </div>
            <div class="col-md-6 text-justify">
                <h1>Uma educação centrada no sujeito e na realidade</h1>
                <p>Escolher estudar conosco é optar por uma formação que reconhece o potencial de cada pessoa como agente de mudança. Aqui, o conhecimento não é imposto. Ele é construído coletivamente a partir da escuta, da partilha e da prática.</p>
                <ul class="list-frontpage">
                    <span>Ofereceremos: </span>
                    <li>Flexibilidade para aprender no seu tempo</li>
                    <li>Um ambiente virtual acessíver e acolhedor</li>
                    <li>Educadores comprometidos com a pedagocia freiriana</li>
                    <li>Acompanhamento humano e constante</li>
                    <li>Certificação reconhecida</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
