<footer class="footer text-light pb-3" style="background-color: #421944">
    <img src="{{logo.linhas}}" alt="" width="100%" class="mt-n5">
    <div class="d-flex justify-content-around align-items-center">
    
        <div class="text-center mx-5">
            <img src="{{logo.site}}" alt="Logo do sistema"  width="200px" height="100px">
            <p>{{ footertext }}</p>
        </div>   


        <div class="mx-5">
            <ul class="list-unstyled">
                <li><a href="youtube.com" class="text-reset text-decoration-none">Início</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Blog</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Podcast</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Materiais gratuitos</a></li>

            </ul>
        </div>

        <div class="mx-5">
            <ul class="list-unstyled">
                <li><a href="youtube.com" class="text-reset text-decoration-none">O projeto Alfa-EJA Brasil</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Termos de uso</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Políticas de privacidade</a></li>
                <li><a href="youtube.com" class="text-reset text-decoration-none">Contato</a></li>

            </ul>
        </div>
 
    </div>

    <hr class="border-secondary my-5">

    <div class="d-flex justify-content-center">
        <div class="mx-5">
            <h4>Realização</h4>
            <img src="{{logo.ipf}}" alt="Logo do IPF">
        </div>
        <div class="mx-5">
            <h4>Parceria</h4>
            <img src="{{logo.petrobras}}" alt="Logo da petrobrás">
        </div>
    </div>

    <hr class="border-secondary my-5">

    <div class="">
        <p class="text-center">INSTITUTO DE EDUCAÇÃO E DIREITOS HUMANOS PAULO FREIRE | CNPJ 04.950.603/0001-05</p>
    </div>
</footer>
